/* Colors via Jackie. THANKS JQUIL!!!!*/

$teal: #87C2C1;

//backgrounds for menu, buttons, footer and highlight
$grey: #535353;

$darkgrey: #2c2c2c;

$lightgrey: #646464;

//border lines in the highlight area
$linedark: #4e5154;

$linelight: #6f6f6f;

//Background, borders and fill
$white : #FFFFFF;